* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
} 

h1 {
    font-weight: bolder;
    font-size: 48px;
    margin: 15px;
    font-family:monospace;
}

button {
    margin: 5px;
    padding: 20px;
    color: white;
    background-color: black;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: solid black 2px;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 992px) {
    img {
      width: 500px;
    }
  }
  
  @media screen and (max-width: 768px) {
    img {
        width: 400px;
      }
  }
  
  @media screen and (max-width: 576px) {
    img {
        width: 300px;
      }
  }